* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 1em
}

main {
    margin: 1em;
    background-color: rgb(45, 53, 61);
    padding: 1em;
}
#myData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#myData div {
    width: 200px;
    height: 50px;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
 
}